<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">/gcti/Logs/Nomatchcheck_Csr</Property>
        <Property name="logFileName">checknomatch_csr</Property>
    </Properties>

    <Appenders>
        <RollingFile name="File" fileName="${logPath}/${logFileName}.log"
                     filePattern="${logPath}/${logFileName}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <!-- 基於時間的觸發策略 -->
                <TimeBasedTriggeringPolicy />				
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>